@font-face {
    font-family: helveticaneuecyrlight;
    src: url('../fonts/helveticaneuecyr-light-webfont.eot');
    src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
margin: 0;
padding: 0;
font-family: helveticaneuecyrlight, Tahoma, san-serif;
}
body {
	background-image: url(../img/bg.gif);
	background-size: 100%;
}
.head {
	background-color: #085697;
	height: 36px;
	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
}
.b3 {
	float: right;
	width: 191px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: white;
	font-size: 14px;
	font-weight: bold;
	margin-right: 20px;
}
.a-b3 {
	color: white;
	font-size: 14px;
}
.b2 {
	float: right;
	line-height: 36px;
	text-align: center;
	color: white;
	font-size: 14px;
	font-weight: bold;
	margin-left: 2px;
	margin-right: 15px;
}
#flag{
	float: right;
	margin: 5px;
}
.b1 {
	float: right;
}
.a-b1 {
	display: inline-block;
	color: #60b5ed;
	font-size: 14px;
	font-weight: bold;
	padding: 9px;
	text-decoration: none;
	height: 18px;
}
.a-b1:hover {
	background-color: #4eabda;
	color: white;
}
.context {
	width: 560px;
	margin: 100px auto;
}
.top {
	width: 560px;
	height: 62px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-align: center;
	line-height: 62px;
	font-size: 24px;
}
.center {
	margin-top: 3px;
	width: 560px;
	height: 550px;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}
#fb {
	margin-top: 40px;
	margin-bottom: 10px;
}
legend {
	display: block;
	padding: 10px;
	color: darkgray;
	margin: auto;
}
fieldset {
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-top: 1px darkgray solid;
	width: 276px;
	margin: auto;
}
.enter-field {
	margin-top: 20px;
	width: 255px;
	height: 35px;
	background-color: rgba(0,0,0,0.8);
	border: 0px;
	color: white;
	font-size: 16px;
	padding-left: 20px;
}
.enter-field:focus {
	background-color: #1b5288;
	-webkit-box-shadow: 0px 0px 31px 3px rgba(105,155,205,1);
	-moz-box-shadow: 0px 0px 31px 3px rgba(105,155,205,1);
	box-shadow: 0px 0px 31px 3px rgba(105,155,205,1);
}
.checkbox {
	margin-right: 10px;
}
label {
	float: left;
	margin-top: 20px;
	display: block;
	text-align: left;
	color: white;
	font-size: 16px;
}
.CA {
	margin: auto;
	margin-top: 18px;
}
.bottom {
	width: 300px;
	color: darkgray;
	font-size: 11px;
	margin: auto;
	padding-top: 12px;
}