<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HomeWork</title>
	<link rel="stylesheet" href="css\style.css">
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="js/template.js"></script>
</head>
<body>
<div>
	<script type="text/template" id="test">
		<header><%= name %></header>
		<img src="<%= pic %>">
		<p><%= who %></p>
		<div class="line"></div>
		<p><%= why %></p>
		<p>
		<ul>
			<li><%= why1 %></li>
			<li><%= why2 %></li>
		</ul>
		</p>
		<div class="line"></div>
		<p><%= phone %></p>
		<p><%= VK %></p>
		<div class="line"></div>
		<p><%= feedback %></p>
	</script>
</div>
</body>
	<script src="js/script.js"></script>
</html>