@font-face {
  font-family: 'ubuntuC';
  src: url("../fonts/ubuntu-c-webfont.eot");
  src: url("../fonts/ubuntu-c-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-c-webfont.woff2") format("woff2"), url("../fonts/ubuntu-c-webfont.woff") format("woff"), url("../fonts/ubuntu-c-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntuM';
  src: url("../fonts/ubuntu-m-webfont.eot");
  src: url("../fonts/ubuntu-m-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-m-webfont.woff2") format("woff2"), url("../fonts/ubuntu-m-webfont.woff") format("woff"), url("../fonts/ubuntu-m-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

.separator {
  clear: both;
  height: 0px;
  width: 100%; }

.main {
  width: 100%;
  margin: auto; }

header {
  margin: 30px auto;
  width: 1165px; }
  header .logoImg {
    float: left; }
  header .header__Socials {
    float: right;
    width: 145px;
    height: 16px;
    margin-top: 15px; }
    header .header__Socials .socials__Facebook {
      width: 15px;
      height: 15px;
      margin-right: 5px;
      float: left;
      display: inline-block;
      background: url(../img/socials1.png) 0 0 no-repeat; }
    header .header__Socials .socials__Facebook:hover {
      background: url(../img/socials1.png) 0 -16px no-repeat; }
    header .header__Socials .socials__Twitter {
      width: 15px;
      height: 15px;
      margin-right: 15px;
      float: left;
      display: inline-block;
      background: url(../img/socials1.png) -16px 0 no-repeat; }
    header .header__Socials .socials__Twitter:hover {
      background: url(../img/socials1.png) -16px -16px no-repeat; }
    header .header__Socials .socials__RSS {
      width: 15px;
      height: 15px;
      margin-right: 15px;
      float: left;
      display: inline-block;
      background: url(../img/socials1.png) -32px 0 no-repeat; }
    header .header__Socials .socials__RSS:hover {
      background: url(../img/socials1.png) -32px -17px no-repeat; }
    header .header__Socials .socials__LinkedIn {
      width: 16px;
      height: 15px;
      margin-right: 15px;
      float: left;
      display: inline-block;
      background: url(../img/socials1.png) -49px 0 no-repeat; }
    header .header__Socials .socials__LinkedIn:hover {
      background: url(../img/socials1.png) -49px -16px no-repeat; }
    header .header__Socials .socials__Skype {
      width: 15px;
      height: 15px;
      float: left;
      display: inline-block;
      background: url(../img/socials1.png) -65px 0 no-repeat; }
    header .header__Socials .socials__Skype:hover {
      background: url(../img/socials1.png) -65px -17px no-repeat; }

menu {
  margin: 30px auto;
  width: 1165px;
  background-color: #2a2d32; }
  menu .menu__Button {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: ubuntuC;
    line-height: 55px;
    border-right: 1px solid black;
    display: block;
    width: 115px;
    height: 55px;
    float: left; }
  menu .menu__Button:hover {
    color: #f4b60d; }
  menu .blueBg {
    background-color: #248cec; }
  menu .menu__Search {
    display: block;
    float: right;
    width: 240px;
    height: 37px;
    margin: 7px 10px 6px 0;
    background-color: #35383c;
    color: white;
    border: 1px solid black; }
  menu .menu__Search[placeholder] {
    background: url(../img/zoom.png) no-repeat;
    background-position: 97% 50%;
    text-indent: 5px; }

.slider {
  margin: auto;
  width: 1161px;
  height: 470px;
  overflow: hidden; }
  .slider .line {
    height: 471px;
    width: 3483px;
    transition: 1s;
    position: relative; }
    .slider .line img {
      float: left;
      display: block; }
  .slider .controls {
    position: absolute;
    top: 62%;
    left: 48.5%; }
    .slider .controls img {
      margin-right: 10px;
      float: left;
      cursor: pointer; }

.about {
  margin: 30px auto; }
  .about .about__El {
    width: 381px;
    margin: 0 3px 0 3px;
    float: left; }
    .about .about__El .content__Top {
      font-family: ubuntuM;
      font-size: 20px;
      display: block;
      margin: 10px 0 10px 0; }
    .about .about__El .content__Center {
      font-family: Arial;
      font-size: 13px;
      color: #8a8a8a; }
    .about .about__El .content__Bottom {
      margin-top: 15px;
      font-family: ubuntuM;
      font-size: 13px;
      font-weight: bold; }
      .about .about__El .content__Bottom a {
        color: black;
        text-decoration: none; }
  .about .el__Digit {
    font-size: 90px;
    font-family: ubuntuM;
    color: #efeff0;
    float: left;
    line-height: 65px;
    height: 180px;
    margin-right: 10px; }

.services {
  height: 500px;
  width: 100%;
  background-color: #2a2d32;
  margin-top: 30px; }
  .services .services__Container {
    width: 1200px;
    margin: auto; }
  .services .services__El_Header {
    color: white;
    font-size: 24px;
    font-family: ubuntuM;
    display: block;
    line-height: 120px;
    margin-left: 20px; }
  .services .services__El {
    width: 260px;
    float: left;
    margin: 20px; }
    .services .services__El a {
      text-align: center;
      font-family: ubuntuM;
      font-size: 16px;
      color: white;
      text-decoration: none; }

.news {
  width: 100%;
  background-color: #f7f7f7;
  height: 450px; }
  .news .newsContainer {
    width: 1165px;
    margin: auto; }
  .news .news__Latest {
    width: 560px;
    float: left; }
    .news .news__Latest .latest__El {
      margin-bottom: 30px;
      height: 150px; }
      .news .news__Latest .latest__El img {
        margin-left: -15px;
        float: left;
        margin-right: 20px; }
      .news .news__Latest .latest__El .el__Content {
        max-height: 150px; }
        .news .news__Latest .latest__El .el__Content .content__Topic {
          font-family: ubuntuM;
          font-size: 16px;
          text-decoration: none;
          color: black;
          display: block;
          padding-right: 20px;
          margin-bottom: 5px; }
        .news .news__Latest .latest__El .el__Content .content__Topic:hover {
          color: #0187f4; }
        .news .news__Latest .latest__El .el__Content .content__Comments {
          font-family: Arial;
          font-size: 13px;
          padding-right: 20px;
          color: #8a8a8a; }
          .news .news__Latest .latest__El .el__Content .content__Comments .blueLinkMod {
            color: #0187f4;
            text-decoration: none; }
        .news .news__Latest .latest__El .el__Content .content__Text {
          display: block;
          margin-top: 5px;
          color: #8a8a8a;
          font-family: Arial;
          font-size: 13px;
          padding-right: 20px; }

.latest__Topic {
  display: block;
  margin-top: 5px;
  line-height: 80px;
  font-family: ubuntuM;
  font-size: 24px; }

.news__Banners {
  float: left;
  margin-left: 20px; }
  .news__Banners .banners__Container {
    width: 580px;
    height: 320px; }
  .news__Banners .container__Banner {
    height: 38px;
    margin-bottom: 5px;
    transition: 0.5s; }
  .news__Banners .banner__Panel {
    cursor: pointer; }
  .news__Banners .panel__Marker {
    float: left;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #e8e8e8;
    background-color: white; }
  .news__Banners .panel__Name {
    float: left;
    width: 528px;
    height: 36px;
    font-family: ubuntuM;
    font-size: 13px;
    line-height: 36px;
    padding-left: 10px;
    border: 1px solid #e8e8e8;
    background-color: white; }
  .news__Banners .banner__Text {
    width: 504px;
    height: 148px;
    font-family: Arial;
    font-size: 13px;
    color: #8a8a8a;
    padding: 38px;
    overflow: hidden;
    display: none; }

#brands {
  display: block;
  margin: 30px auto; }

footer {
  width: 100%; }
  footer .footer__Menu {
    width: 100%;
    height: 320px;
    background-color: #2a2d32; }
  footer .menu__Container {
    height: 320px;
    width: 1165px;
    margin: 50px auto; }
  footer .container__Block {
    display: inline-block;
    color: white;
    font-family: ubuntuM;
    font-size: 16px;
    width: 255px; }
    footer .container__Block span {
      display: block;
      padding-top: 50px;
      padding-bottom: 30px; }
    footer .container__Block a {
      display: block;
      width: 255px;
      padding: 8px 2px;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.3);
      font-family: Arial;
      font-size: 13px; }
    footer .container__Block a:hover {
      color: #0187f4; }
    footer .container__Block .block__underline {
      border-bottom: 1px solid #393c40; }
  footer .block_MarginRight40 {
    margin-right: 40px; }
  footer .footer__Bottom {
    width: 100%;
    height: 50px;
    background-color: #35383c; }
  footer .bottom__Container {
    height: 50px;
    width: 1165px;
    margin: auto; }
  footer .container__Info {
    font-family: Arial;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.2);
    float: left;
    margin-right: 30px;
    line-height: 50px;
    padding-left: 17px; }
  footer .info__Location {
    background: url(../img/location1.png) no-repeat;
    background-position: 0% 45%; }
  footer .info__Phone {
    background: url(../img/iphone.png) no-repeat;
    background-position: 0% 45%; }
  footer .info__Mail {
    background: url(../img/mail1.png) no-repeat;
    background-position: 0% 45%;
    padding-left: 23px; }
  footer .container__Copy {
    font-family: Arial;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.2);
    float: right;
    line-height: 50px; }

/*# sourceMappingURL=style.css.map */
